x-usage: &default-usage
  # Max Usage Limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

x-restart: &default-restart
  # Restart Settings
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

x-security: &default-security
  # Configure User and Security Opts
  user: ${PUID:-1000}:${PGID:-1000}
  security_opt:
   - no-new-privileges=true

x-logging: &default-logging
  # Configure Logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

x-base: &default-base
  <<: [*default-usage, *default-restart, *default-security, *default-logging]

x-healthcheck: &default-healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}

x-environment: &default-environment
  TZ: ${TZ:-America/Chicago}
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}

# Compose Project Name
name: ${PROJECT_NAME}

services:
  postgres:
    <<: [*default-usage, *default-restart, *default-logging]
    image: docker.io/library/postgres:${POSTGRES_VERSION:-latest}
    container_name: ${PROJECT_NAME}.postgres
    shm_size: 128mb # https://hub.docker.com/_/postgres
    environment:
      TZ: ${TZ:-America/Chicago} k
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/postgres_data:/var/lib/postgresql
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      <<: *default-healthcheck

  # CrowdSec - Open-source & Collaborative IPS
  crowdsec:
    <<: *default-base
    image: crowdsecurity/crowdsec
    hostname: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
    container_name: ${PROJECT_NAME}
    #ports:
    #  - "8080:8080" # Local API port
    #  - "6060:6060" # Exposing metrics via Zerotier IP
    expose:
      - 8080 # http api for bouncers
      - 6060 # metrics endpoint for prometheus
      - 7422 # appsec waf endpoint
    environment:
      <<: *default-environment
      GID: ${PGID:-1000}
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/http-dos"
      CUSTOM_HOSTNAME: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
      # Environment variables to configure CrowdSec LAPI for Postgres
      DB_TYPE: postgres
      DB_HOST: ${PROJECT_NAME}.postgres
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      # Ensure LAPI is enabled to use the external database
      DISABLE_LOCAL_API: false 
      #BOUNCER_KEY_PLUGIN: ${CROWDSEC_LAPI_KEY}
    volumes:
      - /opt/docker/volumes/traefik/traefik-logs:/var/log/traefik:ro
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/crowdsec-data:/var/lib/crowdsec/data
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/crowdsec-config:/etc/crowdsec
    networks:
      - frontend
      - backend
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      #test: ["CMD", "traefik", "healthcheck", "--ping"]
      <<: *default-healthcheck

networks:
  frontend:
    name: ${PROXY_NETWORK}
    external: true
  backend:
    internal: true