###############################################################################
# Start of default configs
###############################################################################

  #####################################
  # Container base defaults
  #####################################
  # Max Usage Limits
x-limits: &limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

  # Restart Settings
x-restart: &restart
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

  # Configure security
x-security: &security
  security_opt:
   - no-new-privileges=${NO_NEW_PRIVILEGES:-true}

  # Configure User
x-user: &user
  user: ${PUID:-1000}:${PGID:-1000}

  # Configure Logging
x-logging: &logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

  ## All base defaults in one
x-base: &default-base
  <<: [*limits, *restart, *security, *user, *logging]

  #####################################
  # Container healthcheck defaults
  #####################################
x-healthcheck: &default_healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}
  
  #####################################
  # Container environment defaults
  #####################################
x-environment-tz: &environment_tz
  TZ: ${TZ:-America/Chicago}

x-environment-user: &environment_user
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}

  ## All environment defaults in one
x-environment: &default_environment
  <<: [*environment_tz, *environment_user]

###############################################################################
# Start of stack config
###############################################################################
# Project Name
name: ${PROJECT_NAME}

networks:
#  proxy:
#    name: ${PROXY_NETWORK}
#    external: true
  frontend:
    name: ${PROJECT_NAME}_frontend
    internal: false
    driver_opts:
      encrypted: "true"
  backend:
    name: ${PROJECT_NAME}_backend
    internal: true
    driver_opts:
      encrypted: "true"
# socket_proxy:1
#   name: ${PROJECT_NAME}_socket_proxy
#   internal: true
#   driver_opts:
#     encrypted: "true"

services:

  crowdsec-lapi:
    <<: [*limits, *restart, *security, *logging]
    image: crowdsecurity/crowdsec:${CROWDSEC_VERSION:-latest}
    hostname: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}
    ports: 
      - "8080:8080" # Local API port
    expose:
      - 8080 # http api for bouncers
      - 6060 # metrics endpoint for prometheus
      - 7422 # appsec waf endpoint
    environment:
      <<: [*environment_tz, *environment_user]
      GID: "${PGID:-1000}"
      COLLECTIONS: "
        crowdsecurity/traefik 
        crowdsecurity/http-cve 
        crowdsecurity/http-dos 
        crowdsecurity/base-http-scenarios 
        crowdsecurity/appsec-crs 
        crowdsecurity/appsec-generic-rules 
        crowdsecurity/appsec-virtual-patching" 
      CUSTOM_HOSTNAME: ${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
      CONFIG_FILE: /crowdsec-config/config.yaml
      # Environment variables to configure CrowdSec LAPI for Postgres
      DB_TYPE: postgres
      DB_HOST: ${PROJECT_NAME}-postgres
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      #LOCAL_API_URL: ${CROWDSEC_LAPI_URL}
      DISABLE_LOCAL_API: false # Disable LAPI and use this instance as an log processor only.
      DISABLE_AGENT: true # Disable the log processor and use this instance as an LAPI only.
      CROWDSEC_BYPASS_DB_VOLUME_CHECK: true # On LAPI server, disable volume check
    volumes:
      - ./crowdsec-config:/crowdsec-config
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/crowdsec-config:/etc/crowdsec
      - type: tmpfs
        target: /var/lib/crowdsec/data/
        tmpfs:
          size: 524288000
    networks:
      - frontend
      - backend
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "cscli", "version"]
      <<: *default_healthcheck

  postgres:
    <<: [*limits, *restart, *security, *logging]
    image: docker.io/library/postgres:${POSTGRES_VERSION:-latest}
    hostname: ${PROJECT_NAME}-postgres.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME} 
    container_name: ${PROJECT_NAME}-postgres
    shm_size: 128mb # https://hub.docker.com/_/postgres
    environment:
      <<: [*environment_tz, *environment_user]
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/postgres-data:/var/lib/postgresql
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      <<: *default_healthcheck
